In [55]:
import pandas as pd
df = pd.read_csv('algo.csv', sep=';',low_memory=False)

In [56]:
df

                      Nom Poste  Prix  Result    Fantasy
0            James Harden     A  32.8   39.95  42.715039
1              Trae Young     M  25.2   45.30  36.347069
2       Spencer Dinwiddie     M  19.5   12.80  31.765666
3            Kyrie Irving     M  24.4   48.50  31.373425
4             Rudy Gobert     I  23.0   43.15  30.423059
5             Luka Doncic     A  28.5   19.95  29.401259
6        D'Angelo Russell     A  19.0    8.30  29.067613
7           DeAndre Ayton     I  18.5   27.45  28.642151
8            Devin Booker     A  20.8   41.85  27.473056
9        Donovan Mitchell     A  19.7   24.75  27.109326
10              Ja Morant     M  18.2   41.65  26.919863
11           Clint Capela     I  22.3   25.80  26.514078
12          Kawhi Leonard     A  26.4   55.85  26.134705
13           John Collins     I  18.2   30.35  26.058258
14      Jonas Valanciunas     I  18.4   20.65  25.954471
15        Kelly Oubre Jr.     A  18.5    3.35  25.691366
16  Giannis Antetokounmpo     I  30.7   50.55  24.997178
17       Jaren Jackson Jr     I  16.4   20.85  23.477442
18          Julius Randle     I  18.3   27.00  23.079249
19          Kevin Huerter     A  10.5   42.15  22.897451
20      De'Anthony Melton     M  10.9   20.75  21.783703
21             Alec Burks     A  13.4   10.35  20.912282
22         Omari Spellman     I  10.7    7.75  20.023084
23       Bojan Bogdanovic     A  17.5   16.25  20.010097
24          Dillon Brooks     A  12.2   32.20  19.679117
25            Ivica Zubac     I   9.9   32.45  19.573519
26           Bobby Portis     I  10.1   21.70  19.572101
27       Boban Marjanovic     I   7.5   18.00  19.508252
28         Draymond Green     I  12.9    5.10  18.959654
29         DeAndre Jordan     I  12.6   18.30  18.652568
30         Taurean Prince     I  13.2    4.90  18.317476
31             RJ Barrett     A  12.3   25.80  17.948902
32           Caris LeVert     A  11.3   11.75  17.883545
33         Brandon Clarke     I  14.4   18.80  17.786215
34             Joe Ingles     A  13.6   34.85  17.696201
35           Eric Bledsoe     M  18.2   16.60  17.636875
36             Joe Harris     A  13.3   11.80  17.446975
37        Khris Middleton     A  19.6   22.65  17.175048
38          Collin Sexton     A  12.3   21.45  17.068574

In [57]:
df_m = df.loc[(df["Poste"] == "M")]
df_i = df.loc[(df["Poste"] == "I")]
df_a = df.loc[(df["Poste"] == "A")]

In [58]:
import time
df_starter_mean_fantasy = pd.DataFrame(columns=['Nom1','Nom2','Nom3','Nom4','Nom5',"Fantasy"])

prix_total = 85
best_fantasy = 0

for i in range(len(df_m)):
    print(i)
    for j in range(len(df_i)):
        for k in range(j+1,len(df_i)):
            for l in range(len(df_a)):
                for m in range(l+1,len(df_a)):
                    prix = df_m["Prix"][i:i+1].sum() + df_i["Prix"][j:j+1].sum() + df_i["Prix"][k:k+1].sum() + df_a["Prix"][l:l+1].sum() + df_a["Prix"][m:m+1].sum()
                    if prix <= prix_total:
                        fantasy = df_m["Fantasy"][i:i+1].sum() + df_i["Fantasy"][j:j+1].sum() + df_i["Fantasy"][k:k+1].sum() + df_a["Fantasy"][l:l+1].sum() + df_a["Fantasy"][m:m+1].sum()
                        if (len(df_starter_mean_fantasy) == 10) & (fantasy > df_starter_mean_fantasy["Fantasy"][len(df_starter_mean_fantasy)-1:len(df_starter_mean_fantasy)].sum()):
                            nom1 = df_m["Nom"][i:i+1].sum()
                            nom2 = df_i["Nom"][j:j+1].sum()
                            nom3 = df_i["Nom"][k:k+1].sum()
                            nom4 = df_a["Nom"][l:l+1].sum()
                            nom5 = df_a["Nom"][m:m+1].sum()
                            df_starter_mean_fantasy.loc[df_starter_mean_fantasy.iloc[-1].name] = [nom1,nom2,nom3,nom4,nom5,fantasy]
                            df_starter_mean_fantasy = df_starter_mean_fantasy.sort_values("Fantasy",ascending=False)
                        elif len(df_starter_mean_fantasy) < 10:
                            nom1 = df_m["Nom"][i:i+1].sum()
                            nom2 = df_i["Nom"][j:j+1].sum()
                            nom3 = df_i["Nom"][k:k+1].sum()
                            nom4 = df_a["Nom"][l:l+1].sum()
                            nom5 = df_a["Nom"][m:m+1].sum()
                            df_starter_mean_fantasy.loc[len(df_starter_mean_fantasy)] = [nom1,nom2,nom3,nom4,nom5,fantasy]
                            df_starter_mean_fantasy = df_starter_mean_fantasy.sort_values("Fantasy",ascending=False)

0
1
2
3
4
5

In [59]:
df_starter_mean_fantasy

,Nom1,Nom2,Nom3,Nom4,Nom5,Fantasy
2,De'Anthony Melton,Rudy Gobert,Boban Marjanovic,James Harden,Kevin Huerter,137.327504
1,Trae Young,DeAndre Ayton,Omari Spellman,D'Angelo Russell,Kevin Huerter,136.977369
7,Spencer Dinwiddie,Omari Spellman,Ivica Zubac,James Harden,Kevin Huerter,136.974759
8,Spencer Dinwiddie,Omari Spellman,Bobby Portis,James Harden,Kevin Huerter,136.973341
9,Spencer Dinwiddie,Omari Spellman,Boban Marjanovic,James Harden,Kevin Huerter,136.909492
6,Trae Young,DeAndre Ayton,Ivica Zubac,D'Angelo Russell,Kevin Huerter,136.527804
3,Trae Young,DeAndre Ayton,Bobby Portis,D'Angelo Russell,Kevin Huerter,136.526386
5,Spencer Dinwiddie,Ivica Zubac,Bobby Portis,James Harden,Kevin Huerter,136.523776
4,Trae Young,DeAndre Ayton,Boban Marjanovic,D'Angelo Russell,Kevin Huerter,136.462537
0,Spencer Dinwiddie,Ivica Zubac,Boban Marjanovic,James Harden,Kevin Huerter,136.459927

In [60]:
tab = []

for i in range(len(df_starter_mean_fantasy)):
    result = df.loc[df["Nom"] == df_starter_mean_fantasy[i:i+1]["Nom1"].sum()]["Result"].sum() + df.loc[df["Nom"] == df_starter_mean_fantasy[i:i+1]["Nom2"].sum()]["Result"].sum() + df.loc[df["Nom"] == df_starter_mean_fantasy[i:i+1]["Nom3"].sum()]["Result"].sum() + df.loc[df["Nom"] == df_starter_mean_fantasy[i:i+1]["Nom4"].sum()]["Result"].sum() + df.loc[df["Nom"] == df_starter_mean_fantasy[i:i+1]["Nom5"].sum()]["Result"].sum()
    tab.append(result)

In [61]:
df_starter_mean_fantasy["result"] = tab
df_starter_mean_fantasy

,Nom1,Nom2,Nom3,Nom4,Nom5,Fantasy,result
2,De'Anthony Melton,Rudy Gobert,Boban Marjanovic,James Harden,Kevin Huerter,137.327504,164.00
1,Trae Young,DeAndre Ayton,Omari Spellman,D'Angelo Russell,Kevin Huerter,136.977369,130.95
7,Spencer Dinwiddie,Omari Spellman,Ivica Zubac,James Harden,Kevin Huerter,136.974759,135.10
8,Spencer Dinwiddie,Omari Spellman,Bobby Portis,James Harden,Kevin Huerter,136.973341,124.35
9,Spencer Dinwiddie,Omari Spellman,Boban Marjanovic,James Harden,Kevin Huerter,136.909492,120.65
6,Trae Young,DeAndre Ayton,Ivica Zubac,D'Angelo Russell,Kevin Huerter,136.527804,155.65
3,Trae Young,DeAndre Ayton,Bobby Portis,D'Angelo Russell,Kevin Huerter,136.526386,144.90
5,Spencer Dinwiddie,Ivica Zubac,Bobby Portis,James Harden,Kevin Huerter,136.523776,149.05
4,Trae Young,DeAndre Ayton,Boban Marjanovic,D'Angelo Russell,Kevin Huerter,136.462537,141.20
0,Spencer Dinwiddie,Ivica Zubac,Boban Marjanovic,James Harden,Kevin Huerter,136.459927,145.35

In [54]:
df_starter_mean_fantasy["result"] = tab
df_starter_mean_fantasy

,Nom1,Nom2,Nom3,Nom4,Nom5,Fantasy,result
3,Trae Young,Boban Marjanovic,Dragan Bender,James Harden,Kevin Huerter,147.553568,153.10
6,Trae Young,Ivica Zubac,Dragan Bender,James Harden,Kevin Huerter,146.843718,167.55
9,Trae Young,Boban Marjanovic,Damian Jones,James Harden,Kevin Huerter,146.690266,163.50
1,Trae Young,Ivica Zubac,Damian Jones,James Harden,Kevin Huerter,145.980416,177.95
7,Trae Young,Boban Marjanovic,Ivica Zubac,Luka Doncic,Kevin Huerter,145.329863,157.85
5,Trae Young,John Collins,Boban Marjanovic,Donovan Mitchell,Kevin Huerter,145.068884,160.55
2,Trae Young,John Collins,Ivica Zubac,Donovan Mitchell,Kevin Huerter,144.359034,175.00
0,Spencer Dinwiddie,Boban Marjanovic,Ivica Zubac,James Harden,Kevin Huerter,144.345289,145.35
4,De'Anthony Melton,Rudy Gobert,Boban Marjanovic,James Harden,Kevin Huerter,144.145920,164.00
8,Trae Young,Jonas Valanciunas,Boban Marjanovic,Donovan Mitchell,Kevin Huerter,143.805176,150.85

In [47]:
df_starter_mean_fantasy["result"] = tab
df_starter_mean_fantasy

,Nom1,Nom2,Nom3,Nom4,Nom5,Fantasy,result
1,Ja Morant,Julius Randle,Tristan Thompson,Devin Booker,Collin Sexton,128.660902,133.00
8,Darius Garland,Julius Randle,Tristan Thompson,Devin Booker,D'Angelo Russell,128.076357,91.35
9,Darius Garland,Julius Randle,Tristan Thompson,Luka Doncic,Collin Sexton,127.886471,82.60
3,Trae Young,Julius Randle,Tristan Thompson,Collin Sexton,Alec Burks,127.598678,105.15
5,Darius Garland,Julius Randle,Tristan Thompson,Luka Doncic,Alec Burks,127.459557,71.50
4,Elfrid Payton,Julius Randle,Tristan Thompson,Devin Booker,Kelly Oubre,127.281246,75.95
0,Trae Young,Julius Randle,Jonas Valanciunas,Collin Sexton,Kevin Huerter,126.921135,156.55
6,Ja Morant,Julius Randle,Tristan Thompson,Devin Booker,RJ Barrett,126.742209,137.35
2,Darius Garland,Julius Randle,Tristan Thompson,Devin Booker,Kelly Oubre,126.589522,86.40
7,Darius Garland,Julius Randle,Tristan Thompson,Devin Booker,Khris Middleton,126.524306,105.70